/* line 3, /home/hix/git/pages/source/stylesheets/all.css.sass */
body {
  background: #d4d4d4 url("../images/background.png");
  font-family: sans-serif; }

/* line 8, /home/hix/git/pages/source/stylesheets/all.css.sass */
.title {
  font-family: "Noto Sans", sans-serif; }

/* line 11, /home/hix/git/pages/source/stylesheets/all.css.sass */
.site-title {
  font-weight: 700; }

/* line 14, /home/hix/git/pages/source/stylesheets/all.css.sass */
.blog-title {
  font-weight: 400; }

/* line 17, /home/hix/git/pages/source/stylesheets/all.css.sass */
.doc {
  font-size: 14px;
  margin: 0; }
  /* line 20, /home/hix/git/pages/source/stylesheets/all.css.sass */
  .doc:before, .doc:after {
    opacity: 0.2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: ""; }
  /* line 26, /home/hix/git/pages/source/stylesheets/all.css.sass */
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    /* line 28, /home/hix/git/pages/source/stylesheets/all.css.sass */
    .doc a:hover {
      color: #666; }
